
:root {
    --primary: #90e0ef;
    --secondary: #ffffff;
    --tertiary: #0f8eea;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    line-height: 30px;
}
a{
    color: var(--primary);
    text-decoration: none;
}
a:hover{
    background-color: var(--primary);
    color: var(--secondary);
}
h2::selection {
    background-color: var(--primary);
    color: var(--secondary);
}
h1::selection {
    background-color: var(--primary);
    color: var(--secondary);
}
span::selection {
    background-color: var(--primary);
    color: var(--secondary);
}
p::selection {
    background-color: var(--primary);
    color: var(--secondary);
}
a::selection {
    background-color: var(--primary);
    color: var(--tertiary);
}
@media screen and (min-width : 320px){
    body {
        font-size: 17px;
        line-height: 25px;
    }
    #content{
        text-align: justify;
        margin: 50px 30px;
    }
}
@media screen and (min-width : 620px){
    body {
        font-size: 18px;
        line-height: 25px;
    }
    #content{
        text-align: justify;
        margin: 90px 70px 90px 70px;  
    }
}
@media screen and (min-width : 960px){
    body {
        font-size: 19px;
    }
    #content{
        text-align: justify;
        margin: 140px 100px 100px 100px;  
    }
}
@media screen and (min-width : 1200px){
    body {
        font-size: 19px;
    }
    #content{
        text-align: justify;
        margin: 140px 120px 100px 120px;  
    }
}
@media screen and (min-width : 1400px){
    body {
        font-size: 20px;
    }
    #content{
        text-align: justify;
        margin: 180px 600px 100px 150px;  
    }
}
